/* font importing */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(100deg,  #f78b00, white, #00285f);
}

.cadastro {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
    width: 400px;
}

input {
    padding: 15px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    width: 91%;
}

.fa-eye {
    color: grey;
    position: absolute;
    top: 55.5%;
    right: 100px;
    cursor: pointer;
}

button {
    background-color: #00285f;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #f78b00;
    color: #00285f;
    transition: 0.2s;
}

div {
    position: fixed;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}